.page-enter-active,
.page-leave-active {
	transition: opacity 0.2s;
}

.page-enter-from,
.page-leave-to {
	opacity: 0;
}

.flip-enter-active,
.flip-leave-active {
	transition: transform 0.2s;
}

.flip-enter-from,
.flip-leave-to {
	transform: scaleX(0);
}
